# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
main.elf
main.bin
main.uf2
main.hex
main.map
romfs.bin
image.bin
image.uf2
*.o
*.a
*.d

# Exclude build directories and host executables
miosix/_tools/filesystems/build
miosix/_tools/filesystems/buildromfs
miosix/_tools/bin2uf2/build
miosix/_tools/bin2uf2/bin2uf2

# Exclude Mac OS X temporary
._*
.DS_Store
