# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
main.elf
main.bin
main.hex
main.map
romfs.bin
image.bin
*.o
*.a
*.d

# Exclude build directories
miosix/_tools/filesystems/build

# Exclude Mac OS X temporary
._*
.DS_Store
