# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
main.elf
main.bin
main.hex
main.map
romfs.bin
image.bin
*.o
*.a
*.d

# Exclude build directories and host executables
miosix/_tools/filesystems/build
miosix/_tools/filesystems/buildromfs

# Exclude Mac OS X temporary
._*
.DS_Store
