#
# OpenOCD configuration file for in-circuit debugging nRF52 chips
# To start debugging issue those commands:
# - on shell #1
#    openocd -f miosix-kernel/miosix/arch/cortexM4_nrf52/nrf52840_generic/openocd.cfg
# - on shell #2
#    arm-miosix-eabi-gdb main.elf
#    target extended-remote :3333
#    monitor reset halt
#    load
#    break main
#    run
#
# Also if connection is unreliable try
#    monitor adapter speed 500
#

# Daemon configuration
telnet_port 4444
gdb_port 3333

source [find interface/cmsis-dap.cfg]
#source [find interface/stlink.cfg]
#transport select hla_swd
source [find target/nrf52.cfg]

# Utility function to enable the ARM DCC, can be used if the kernel is
# configured to redirect debug printf through DCC. May require a kernel reboot
proc start_dcc {} {
    target_request debugmsgs enable
    trace point 1
}

# Utility function to end debugging session and put the chip out of
# Debug Interface mode. Just quitting OpenOCD does not truly exit debug mode.
# This is important to restore low power operation and make the SYSTEMOFF
# command (used by Miosix's shutdown() function) work again without the need for
# a power cycle.
# See the datasheet chapter 4.8.4 Debug Interface mode and the following thread
# https://devzone.nordicsemi.com/f/nordic-q-a/67075/exit-from-debug-interface-mode-without-power-cycling-the-chip
# which explains the J-Link "writeDP 1 0" command must be issued whose openocd
# equivalent is $dap dpreg 4 0 because registers addresses in openocd are in
# bytes so register 1 is actually at address 4
proc exit_debug_mode {} {
    set target [target current]
    set dap [$target cget -dap]
    reset
    poll off
    $dap dpreg 4 0
    shutdown
}
