#
# OpenOCD configuration file for in-circuit debugging the stm32f4discovery
# To start debugging issue those commands:
#    arm-miosix-eabi-gdb main.elf
#    target remote :3333
#    monitor reset halt
#    load
#    break main
#    continue
#

# Daemon configuration
telnet_port 4444
gdb_port 3333

source [find interface/cmsis-dap.cfg]
#source [find interface/stlink.cfg]
#transport select hla_swd
source [find target/nrf52.cfg]

