#
# OpenOCD configuration file for in-circuit debugging.
# Tested 12/2025 using an stlink V2 (stm32f4discovery board used as debugger)
# To start debugging issue those commands:
#    arm-miosix-eabi-gdb main.elf
#    target extended-remote :3333
#    monitor reset halt
#    load
#    break main
#    continue
#

# Daemon configuration
telnet_port 4444
gdb_port 3333

source [find interface/stlink-v2.cfg]
source [find target/stm32f4x.cfg]
