#
# OpenOCD configuration file for JLink on the EFM32GG-DK3750 board
#
# IMPORTANT: Does not work out of the box! First you need to configure the
# board's SWD interface to MCU mode from the GUI configuration menu:
# 1. After power on, enter the "CFG" menu (button PB2)
# 2. The "Debug Control" option is already selected, push the joystick right
#    until the option value is "MCU" (the default is "IN")
# 3. Select "SAVE" (button PB4) to save the configuration
# 4. Select "Back" (button PB1) twice to return to the main menu
#

# Daemon configuration
telnet_port 4444
gdb_port 3333

source [find interface/jlink.cfg]

transport select swd
adapter speed 1000

source [find target/efm32.cfg]

# reset_config srst_only # Causes monitor reset halt to fail
